

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    display: flex;
    height: 100%;
    width: 100%;
}

.box {
    width: 80%;
    margin: 1rem 10% ;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.datos {
    margin: auto;
    background-color: black;
}

th {
    width: 150px;
}

#boton {
    float: left;
    margin: 3rem;
    padding: 1rem;
    background-color: rgb(159, 223, 153);
    font-weight: bolder;
}





