/*---- GENERALES ----*/
*{
    box-sizing: border-box;
}
body {
    margin: 0;
    background: var(--colorfondo);
    font-family: Georgia, 'Georgia', Times, serif;
}
.container {
    /* border: 3px solid red;  */
    max-width: 90%;
    margin: auto;
}
:root {
    --colorform2: rgb(108, 65, 209);
    --colorform1: rgb(42, 230, 151);
    --colornegro: black ; 
    --colorfondo: rgb(149, 179, 166);
    --colortexto: rgb(4, 1, 31);
    --colorblanco: rgb(255, 255, 255);
    --colorenviar: rgb(1, 54, 41);
    --error: rgb(126, 3, 3);
}

/*---- FORMULARIO ----*/
.formulario {
    /* border: 3px solid green; */
    border-top: 3px solid black ;
    max-width: 400px;
    padding: 30px 50px;
    margin: auto;
    margin-top: 10px;
    background: linear-gradient(
        0deg,
        var(--colorform1) 0%,
        var(--colorform2) 105%
    );
}
.tituloform {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
    letter-spacing: 3px;
}
.form-input{
    margin-bottom: 30px;
}
.form-input label {
    display: block;
    margin-top: 3px;
    font-size: 15px;
    color: var(--colortexto);
}
.form-input input{
    width: 100%;
    border: none;
    outline: none;
    background: none;
    border-bottom: 2px solid var(--colortexto);
}
.form-input input:focus + label{
    font-weight: bold;
    color: var(--colornegro);
}
.boton-enviar input {
    background: var(--colortexto);
    color: var(--colorblanco);
    padding: 10px 50px;
    font-size: 15px;
    display: block;
    margin: auto;
    margin-top: 30px;
    border: none;
}
.boton-enviar input:hover {
    background: var(--colorenviar);
    transition: 0.5s;
}
.mensajeError {
    color: var(--error);
    margin-top: 0px;
    font-size: 12px;
    letter-spacing: 1px;
}
.mensajeCorrecto{
    text-align: center;
    font-weight: bold;
}